
  /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of the Reset */

body {
  width: 95%;
  margin: 0 auto;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

h1 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  margin-top: 1em;
	margin-bottom: 3vw;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  padding-top: 1em;
  clear: right;
}

p {
  clear:right;
  font-family: 'Noto Serif', serif;
  }

p.UP {
    margin-bottom: 2em;
}

p.d {
  padding-top: 1em;
  }

p.data {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 2em;
  margin-top: .7em;
}

ul.indice  {
	text-align: center;
  margin-top: 1em;
	}

ul.indice li {
	display: inline-block;
	line-height: 3em;
  margin: 2px;
	}

ul.indice li a {
	color: #d1c4bd;
  font-weight: 700;
  border: 2px solid;
  border-radius: 8px;
	padding: 6px 1em;
  text-decoration: none;
}

figure {
  width: 100%;
	padding-bottom: 3em;
  font-size: 10px;
}

figure img {
  width: 100%;
  max-width: 600px;
  max-height: 500px;
  }

div.info {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-top: 4em;
  max-width: 500px;
  max-height: 110px;
  overflow: scroll;
  float: right;
}

div.info p {
  font-family: 'Montserrat', sans-serif;
  line-height: 19px;
  font-weight: 700;
}

div.info p.d {
  font-weight: 400;
  line-height:1.5em;
}

div.titulo {
  margin-bottom: 5em;
}

ul.listas {
  display: list-item;
  line-height: 1.7em;
  margin-bottom: 1.5em;
}

ul.listas li strong {
   font-weight: 700;
}

cite {
  font-style: italic;
}

cite:before, cite:after {
	content: '"';
}

q:before {
	content: "«"
}

q:after {
	content: '»'
}

#tBtn {
  display: none;
  position: fixed;
  bottom: 10px; 
  right: 10px; 
  z-index: 99; 
  cursor: pointer; 
  border: none;
  background-color: transparent;
}

.arrow {
  border: solid #d1c4bd;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

	/* layout para tablets */
	@media screen and (min-width: 600px) and (max-width: 1024px) {

    body {
    width: 85%;
    font-size: 20px;
    line-height: 22px;
    }

    h1 {
      font-size: 40px;
      margin-top: 1.2em;
      margin-bottom: 1em;
    }

    h2 {
      font-size: 70px;
      line-height: 72px;
    }
    
    ul.indice li {
      margin: 2px 6px;
      }
    
    ul.indice li a {
      font-size: 22px;
      padding: 6px 1.2em;
    }

    div.info {
      margin-top: 4em;
      margin-bottom: 2em;
      max-width: 450px;
      max-height: 140px;
    }
    
    div.info p {
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
    }
    
    div.info p.d {
      line-height: 28px;
    }

    p.d {
      padding-top: .7em;
      }

      p.data {
        font-size: 26px;
      }

      figure {
        font-size: 18px;
      }
      
      figure img {
        max-width: none;
        }
  }

/* layout para desktop*/
@media screen and (min-width: 1025px) {

body {
  width: 80%;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-size: 70px;
  margin-top: .7em;
	margin-bottom: 1em;
}

h2 {
  font-size: 70px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(44, 44, 44, 0.1); 
  border-radius: 20px;
}

p.data {
  font-size: 22px;
  margin-top: 1.5em;
  margin-bottom: 3em;
}

ul.indice  {
	text-align: center;
	}

ul.indice li a {
	padding: 6px 3.5em;
	margin: .5em;
}

ul.indice li a:hover {
  color: #FFF;
  background-color: #d1c4bd;
}

figure {
  float: right;
  width: 50%;
  padding-left: 4em;
	padding-bottom: 4em;
  font-size: 12px;
}

div.info {
  max-height: 200px;
}

div.info p {
  font-size: 20px;
  line-height: 35px;
}

div.info p.d {
  line-height:26px;
}

ul.listas {
  line-height: 26px;
  margin-bottom: 0;
}

#tBtn {
  bottom: 20px; 
  right: 30px; 
  
}

.arrow {
  width: 7px;
  height: 7px;
}
}
